[builderList bandList]
modelClass = "StevenWanderski\Coax\Models\Band"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "band"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
sortColumn = "sort_order"
sortDirection = "asc"

==
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coax &amp; Folks</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700,700italic,400,400italic">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.css">
  <link rel="stylesheet" href="/themes/coax/assets/css/app.css">
  <link rel="icon" href="/themes/coax/assets/images/favicon.png?v=4">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {% framework extras %}
  <script src="/themes/coax/assets/js/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.js"></script>
  <script src="/themes/coax/assets/js/jquery.jplayer.min.js"></script>
  <script src="/themes/coax/assets/js/magnific.popup.min.js"></script>
  <script src="/themes/coax/assets/js/app.js"></script>
  {% scripts %}
</head>
<body>
  <header class="header header__full">
    <div class="container container__flex container__align-items">
      <div class="header--logo header--logo__full">
        <a href="/">
          <img src="/themes/coax/assets/svg/logo_white.svg" />
        </a>
      </div>

      <div class="header--contact">
        <a href="/contact" class="header--button">Contact</a>
      </div>
    </div>
  </header>

  <header class="header header__small container">
    <div class="header--logo header--logo__small">
      Coax<em>&amp;</em>Folks
    </div>

    <div class="header--control"></div>
  </header>

  <nav>
    <div class="container">
      <a href="/contact" class="nav--contact">Contact</a>
      {% component 'bandList' %}
    </div>
  </nav>

  <div class="page">
    {% page %}
  </div>

  <footer class="footer">
    <div class="container">
      <div class="footer--block">
        {% component 'bandList' %}
      </div>

      <div class="footer--block">
        <ul>
          <li>coaxandfolks@gmail.com</li>
          <li>708.612.6034</li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>